<mat-toolbar class="navbar">
  <div class="navbar-content">
    <a class="brand" routerLink="/">
      <mat-icon>contacts</mat-icon>
      <span>OpenContact</span>
    </a>

    <div class="actions">
      <a mat-button routerLink="/">Agendas</a>

      <a
        mat-icon-button
        href="https://github.com/RafaelQSantos-RQS"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Link para o repositório do projeto"
      >
        <mat-icon svgIcon="github"></mat-icon>
      </a>
    </div>
  </div>
</mat-toolbar>
