.navbar {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.navbar-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 32px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.actions {
  display: flex;
  align-items: center;

  a {
    color: white;

    transition: background-color 0.2s ease-in-out;
    border-radius: 4px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
